.active {
    border: 2px solid #b7db4f;
    background: linear-gradient(to right, #caeb66, #a8d94a);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active:hover {
    background: linear-gradient(to right, #bfe85a, #97c83f);
}